*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link{
    color:#fff !important;
}


.brand{
    color:rgb(94, 241, 9) !important;
    font-size: larger !important;
    font-weight:500 !important;
}

#brand{
    color:rgb(94, 241, 9);
    font-size: larger;
    font-weight:500;
}


.brand-btn{
    opacity: 0;
    transition-property: color, background-color  250ms ease-in;
}

#kard{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75) ;
}

#kard:hover .brand-btn{
    opacity: 1;
    color: white;
    background-color:rgb(94, 241, 9);
}


.carousel-slide{
    overflow: hidden;
    height:calc(100vh - 68px);
}

.carousel-inner{
   max-height:700px;
}
.carousel-item img{
    height:100%;
    background-size: cover;
}

.brand__text{
    color:rgb(94, 241, 9);
    font-size:xx-large;
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.gray{
    background-color: rgb(34, 51, 51);
}
.grayy{
    background-color: rgb(26, 36, 36);
}
.space{
  justify-content: space-between;
}

.gal__img{
    width: 400px;
    height: 400px;
    object-fit: contain;
    transition-property:transform !important;
    transition-duration: 250ms !important;
    transition-timing-function: ease-in !important;
}

.gal__img:hover{
    transform:rotate(10deg) !important;
}

.about__img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.about__text{
    text-shadow: 3px 3px 3px 3px;
    background-color:rgba(0,0,0,0.3);
    padding: 10px;
}

.about__text1{
    text-shadow: 3px 3px 3px 3px;
    background-color:rgba(0,0,0,0.3);
    padding: 40px;
    margin-top: -40px;
}

.about__background{
    background-image:url(images/brecht1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    background-attachment:fixed;
    width: 100%;
    height: 500px;
}


.embed-responsive-item{
    width:100% !important;
    height:100% !important;
    margin-bottom: 10px !important;
}
